<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>example</title>
</head>

<body>
    <p>
        user id: <%= user.id %>
    </p>
    <p>
        user name: <%= user.user %>
    </p>
    <p>
        user role: <%= user.role %>
    </p>

    <a href="/users/logout">Logout</a>
</body>

</html>