<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title.id %>
  </h1>
  <p>Welcome to <%= gold.num %>
  </p>
</body>

</html>