<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF=8" />
    <meta http-equiv="X-UA-Compatible" content="chrome" />
    <meta name="viewport" content="width=divice-width, initial-scale=1.0" />
    <title>login 테스트용</title>
</head>

<body>
    <form method="post" action="/users/login">
        <div>
            <label>ID: </label>
            <input type="text" name="id" />
        </div>
        <div>
            <label>Password: </label>
            <input type="password" name="pw" />
        </div>
        <div>
            <input type="submit" value="로그인" />
        </div>
    </form>
</body>

</html>