<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up</title>
</head>

<body>
    <form method="POST" action="/users/signup">
        <label for="username">Username: </label><input type="text" name="id" />
        <br />
        <label for="name">Name: </label><input type="text" name="name" />
        <br />
        <label for="password">Password: </label><input type="password" name="pw" />
        <br />
        <button>Sign Up</button>
    </form>
</body>

</html>